html,body{
	height: 100%;
	margin: 0;
	padding: 0;
}
.el-breadcrumb{
	margin-bottom: 15px;
	font-size: 12px;
}
.el-table{
	margin-top: 10px;
	font-size: 14px;
}
.el-pagination{
	margin-top: 10px;
}
.el-steps{
	margin-top: 20px;
}
.el-step__title{
	font-size: 13px;
}
.ql-editor{
	min-height: 300px;
}